table{

 font-family: Arial, Helvetica, sans-serif;
 border-collapse:collapse ;
border-style: solid;
border-color: purple;
}

th{
font-weight: 900;
background-color: blueviolet;
}


#menu-bar a{
font-family: Arial, Helvetica, sans-serif;
background-color: powderblue;
padding: 6px;
text-decoration: none;
}